*{
    margin: 0;
    padding: 0;
}
body{
  background-color: rgb(63, 110, 106);
}
.login{
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(162, 172, 175, 0.641);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}
.login input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  height: 20px;
  width:100%;
  margin: 3px;
  text-decoration: none;
}
.login .botao{
  outline: none;
  height: 30px;
  width:100%;
  margin: 3px;
  background-image: linear-gradient(to right,rgb(46, 74, 92),rgb(22, 110, 109));
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(26, 21, 15);
}
.login fieldset{
  border:1px solid black;
  border-radius: 10px;
  padding: 20px;
}
.login fieldset legend{
  text-align:center;
  padding: 5px;
  background-color: rgb(59, 122, 122);
  border-radius: 10px;
  color: rgb(0, 0, 0);
}
.link{
  text-align: center;
  padding: 10px;

  
  /*visibility: hidden;*/
}
.link a{
  text-align: center;
  text-align: 15px;
  padding: 5px;
  text-decoration: none;
  outline: none;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to right,rgb(60, 133, 114),rgb(50, 45, 83));
  border: none;
  border-radius: 5px;
  color: rgb(2, 2, 51);
}